.titleFont {
  font-family: "Arial Black", sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: #33ae77;
  color: white;
}
.subtitleFont {
  font-family: "Trebuchet MS", sans-serif;
  color: #33ae77;
  // font-size: 1em;
  letter-spacing: -1px;
  // border-bottom: 2px solid #33ae77;
  text-transform: uppercase;
  text-align: center;
}
